.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-90 {
    font-size: 90px;
}

.app__visible-if-compact {
    display: none;
}

.is-compact > .mdl-layout__header-row > .app__visible-if-compact {
    display: inherit;
}

.app--layout-background {
    background: url('/img/Lines-Green-Yellow-Rectangle-Abstract-Pattern.jpg') center / cover;
}